.load-more-btn {
  display: block;
  width: 120px;
  margin: 0 auto;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: blue;
  color: aliceblue;
  font-size: 18px;
  font-weight: 600;
}
